body {
	background-color: #29475B;
}
.page {
	background: #FFFFFF;
}
#tops, #bottom {
	background: #092234;	
}

#left, #right {
	background: #092234;	
}

/* DEFAULT ALTERNATING COLOURS */

.post_bg1 { 
	background-color:#CC0099; /*pink*/
	border: 1px solid #A7007D;
}
.post_bg2 {
	background-color:#FF0000; /*red*/
	border: 1px solid #C90000;
}
.post_bg3 {
	background-color:#FF9900; /*orange*/
	border: 1px solid #D57F00;
}
.post_bg4 {
	background-color:#176AD3; /*blue*/
	border: 1px solid #125CB8;
}
.post_bg5 {
	background-color:#009933; /*green*/
	border: 1px solid #007427;
}
.post_bg6 {
	background-color:#9900FF; /*purple*/
	border: 1px solid #8000D3;
}

/* ---- */

.row_dot_border {
	background-image: url(blue/row_dot_border.png);
}

p.subscribe {
	color:#E4E4DF;
}

.page_block, .content .post, .commentlist li {
	background-image: url(blue/row_dot_border.png);
}

.sidebar {
	background-image: url(blue/col_dot_border.png);
}

.widget {
	background-color:#D2DDE0;
	color:#636363;
}

.tagcloud {
	background-color:#E4E4DF !important;
	color:#FFFFFF;
}

.widget a, .widget h2, .widget h3, .widget li{
	color:#2A2A2A !important;
	text-decoration:none !important;
	
}
.widget p{
	color: #636363;
}
.widget li {
	border-top: 1px dotted #e4eef1;
}

.about {
	background-color:#EDEDED !important;
}

.about h3 {
	color:#2A2A2A !important;
}

.about a {
	color:#000000 !important;
}
.about p {
	color: #636363;
}


.page_block {
	background-image: url(blue/row_dot_border.png);
}

.footer {
	background-image: url(blue/col_dot_border.png);
}

a, h1, h2, h3, h4, h5, h6  {
	color:#2A2A2A;
}

p.issue a {
	color:#888888;
}

.page_block p, .footer p {
	color:#666666;
}

.post h2 a {
	color:#2A2A2A;
}

.post p {
	color:#666666;
}

.footer a {
	color:#777777;
}

.sponsor {
	background-color:#F7F6F6;
	color:#FFFFFF;
}

.sponsor h3 {
	color:#FFFFFF;
}

.featured_date p, .featured_content p {
	color:#FFFFFF;
}

.image p {
	color: #333333;
}

.navigation a {
	color:#E4E4DF;
}

.comments h2, .trackbacks h2, .comment_list li, .trackbacks li {
	border-bottom-color: #2A2A2A;
}

.comment-author {
	color:#000000 !important;
}

.post_meta a {
	color:#777777;
}

.post_meta a:hover {
	color:#E4E4DF;
}

.footer {
	color:#000000 !important;
}
.content a:hover { 
	color:#000000 !important;
	text-decoration:none !important;
}
.widget a:hover {
	color:#555555 !important;
	text-decoration:underline !important;
}
