/* 00 - GLOBAL ELEMENTS
/* ----------------------------------------------*/
body {
	background:#e7e3f1;
	border-top:3px solid #f7f4f7;
	color:#815383;
}

blockquote {
	border-bottom:1px solid #dbd7ea;
	font:1.00em Georgia, "Times New Roman", Times, serif; color:#e3deee;
	background:#fffdff;
}

label {	
	color:#714ba0;
}

/* 01 - TYPOGRAPHY
/* ----------------------------------------------*/

h1 {
	background:url(purple/logo.gif) no-repeat center left;
	border-bottom:1px solid #eff0f1;
}

	.post-single h1 {
		color:#7449a2;
	}

h2 {
	color:#7449a2;
}

	.post-single h2 {
		color:#7449a2;
	}

h3 {
	/* Same */
}

	.post-single h3 {
		font:1.50em Arial, Helvetica, sans-serif; color:#8f80bc;
	}

	#recent-news h3 {
		color:#8f80bc;
	}
	
	#from-the-blog h3 {
		color:#9767ac;
	}
	
	.comment-author h3 {
		color:#9767ac;
	}

h4 {
	margin:0; padding:8px 15px;
	font:1.50em Arial, Helvetica, sans-serif;
	color:#a47f8a;
	background:none;
	border:1px solid #FFF;
}

	.post-single h4 {
		color:#9767ac;
	}

h5 {
	/* Same */
}

	.post-single h5 {
		color:#9767ac;
	}

a:link, a:active, a:visited {
	color:#6a4f9d;
}

	h2 a {
		color:#6e4d9f;
	}
	
	h3 a {
		color:#6e4d9f;
	}
	
		.comment-author h3 a {
			color:#6e4d9f;
		}
	
	h4 a {
		color:#6e4d9f;
	}
	
	h5 a {
		color:#6e4d9f;
	}
	
	.learn-more {
		background:url(purple/learn-more.gif) no-repeat top center;
	}
	
	.read-more {
		background:url(purple/learn-more.gif) no-repeat top center;
	}
	
	a.view-archives:link, a.view-archives:active, a.view-archives:visited {
		margin:-50px 0 0 210px; padding:0;
		font:bold 0.92em Arial, Helvetica, sans-serif; color:#c6b6d4;
		position:absolute;
	}
	
	a.view-blog:link, a.view-blog:active, a.view-blog:visited {
		color:#baa5d1;
	}
	
	#features-tabs li a, .cat-tabs li a {
		color:#996dab;
	}
	
	#recent-news h3 a {
		color:#8f80bc;
	}
	
	#from-the-blog h3 a {
		color:#9767ac;
	}
	
	#sidebar li ul li a {
		color:#693661;
	}
	
	.author-website a {
		color:#693661;
	}
		
	#copyright a {
		color:#9f6aa2;
	}
	
	#single-features-list li a {
		color:#9f6aa2;
	}
	
a:hover {
	text-decoration:underline;
}

	h2 a:hover {
		color:#64539a;
	}
	
	.comment-author h3 a:hover {
		color:#64539a;
	}
	
	#features-tabs li a:hover, .cat-tabs li a:hover {
		color:#64539a;
	}
	
	#features-tabs li.active, .cat-tabs li.active {
		color:#64539a;
	}
	
	#features-tabs li.active a, .cat-tabs li.active a {
		color:#64539a;
	}
	
	#sidebar li ul li a:hover {
		color:#745266;
	}
	
	#single-features-list li a:hover {
		color:#64539a;
	}

/* Misc */

#features {
	color:#636363;
}

.commentlist li {
	color:#8d658d;
}

.input {
	color:#8d658d;
}

#footer-info li {
	color:#9f6aa2;
}

	#footer-info li a {
		color:#9f6aa2;
	}

.image-caption {
	color:#996da3;
}

/* 02 - STRUCTURE
/* ----------------------------------------------*/

/* Same */

/* 03 - HEADER
/* ----------------------------------------------*/

#header-repeat {
	background:#fdfeff url(purple/header.gif) repeat-x top center;
}

#header-left {
	background:url(purple/header-left.gif) no-repeat top left;
}


#navigation {
	margin:0; padding:0 0 10px 0;
	list-style:none;
	border-bottom:4px solid #f6f7f8;
}
	
	#navigation li {
		margin:12px 0 0 12px; padding:0 12px 0 0;
		float:left;
		width:auto;
		border-right:1px solid #e8e9ea;
	}
			
		#navigation li a {
			margin:0; padding:0;
			text-decoration:none; display:block;
			font:1.50em Arial, Helvetica, sans-serif; color:#7746ad;
		}
	
		#navigation li:hover a, #navigation li.sfhover a {
			background:url(purple/nav-right.gif) no-repeat top right;
			color:#FFF;
		}
		
			#navigation li.current_page_item a:link,
			#navigation li.current_page_item a:visited,
			#navigation li.current_page_item a:active {
				background:url(purple/nav-right.gif) no-repeat top right;
				color:#FFF;
			}
	
			#navigation li span {
				margin:0; padding:8px 0 0 0;
				display:block;
			}
	
			#navigation li:hover span, #navigation li.sfhover span,
			#navigation li.current_page_item a:link span,
			#navigation li.current_page_item a:visited span,
			#navigation li.current_page_item a:active span {
				background:url(purple/nav-left.gif) no-repeat top left;
			}
						
				#navigation li span span {
					margin:0; padding:0 0 0 15px;
					display:block;
				}
					
				#navigation li:hover span span, #navigation li.sfhover span span,
				#navigation li.current_page_item a:link span span,
				#navigation li.current_page_item a:visited span span,
				#navigation li.current_page_item a:active span span {
					background:url(purple/nav-bottom-left.gif) no-repeat bottom left;
				}
								
					#navigation li span span span {
						margin:0; padding:0 15px 8px 0;
						display:block;
					}
					
					#navigation li:hover span span span, #navigation li.sfhover span span span,
					#navigation li.current_page_item a:link span span span,
					#navigation li.current_page_item a:visited span span span,
					#navigation li.current_page_item a:active span span span  {
						background:url(purple/nav-bottom-right.gif) no-repeat bottom right;
					}
						
		#navigation li ul {
			margin:0; padding:0;
			list-style:none;
			position:absolute;
			width:206px;
			left:-999em;
		}
			
			#navigation li ul li, #navigation li:hover ul li, #naviation li.sfhover ul li {
				margin:0; padding:0;
				float:none;
			}
			
				#navigation li ul li a {
					margin:0; padding:0;
					background:none;
				}
				
				#navigation li:hover ul li a, #navigation li.sfhover ul li a {
					margin:0 2px; padding:8px 15px;
					font:1.00em Arial, Helvetica, sans-serif; color:#e5d8f5;
					border-right:0;
					background:url(purple/nav-divider.gif) repeat-x bottom center;
				}
				
					#navigation li:hover ul li a:hover {
						color:#FFF;
					}
					
					#navigation li:hover ul > li:first-child, #navigation li:hover ul > li:hover:first-child {
						padding:10px 0 0 0;
						background:url(purple/nav-corner.gif) no-repeat top right;
					}
				
					#navigation li:hover ul li:hover, #navigation li.sfhover ul li.sfhover {
						margin:0; padding:0;
						background:none;
					}
					
					#navigation li ul li span,
					#navigation li ul li span span, 
					#navigation li:hover ul li:hover span, 
					#navigation li:hover ul li:hover span span, 
					#navigation li:hover ul li.sfhover span, 
					#navigation li:hover ul li.sfhover span span,
					#navigation li:hover ul li span,
					#navigation li:hover ul li span span {
						margin:0; padding:0;
						background:none;
					}
		
		#navigation li:hover ul, #navigation li.sfhover ul {
			margin:-4px 0 0 0; padding:0 0 15px 0;
			left:auto;
			background:url(purple/nav-back.png) no-repeat bottom center;
		}


/* 03 - CONTENT
/* ----------------------------------------------*/

#content-repeat {
	background:#e7e3f1 url(purple/content-repeat.gif) repeat-x top center;
}

#content-left {
	background:url(purple/content-corner.gif) no-repeat top left;
}


	/* 03.A - FEATURED
	/* ----------------------------------------------*/
	
	.latest-image {
		background:url(purple/latest-image-back.gif) no-repeat bottom right;
	}
		
	/* 03.B - NEWS BOX
	/* ----------------------------------------------*/

	#news-top {
		background:url(purple/news-top.gif) repeat-x bottom center;
	}
	
	#news {
		background:#fafafa url(purple/news-bottom.gif) repeat-x bottom center;
	}
	
	#recent-news {
		background:url(purple/latest-blog.gif) no-repeat top left;
	}
	
	#from-the-blog {
		background:url(purple/from-the-blog.gif) no-repeat top left;
	}
	
		#from-the-blog .posted {
			border-bottom:1px solid #dedaec;
		}
		
		
	/* 03.E - SIDEBAR
	/* ----------------------------------------------*/

	/* Same - Check H4 Tag */
	
	#sidebar {
		margin:0; padding:0;
		list-style:none;
	}
	
		#sidebar h4  {
			color: #7d587d;
		}
	
		#sidebar li {
			margin:0 0 30px 0; padding:0;
		}
		
			#sidebar li ul {
				margin:0; padding:0;
				list-style:none;
				background:#f7eff3;
				border-top:1px solid #e3f1e8;
			}
		
			#sidebar li ul li {
				margin:0; padding:7px 10px;
				border-top:1px solid #FFF; border-bottom:1px solid #FFF;
			}
			
				#sidebar li ul li ul, #sidebar li ul li ul li ul {
					margin:10px 0 0 0;
					ackground:none;
				}
	
	/* 03.E - SINGLE.PHP
	/* ----------------------------------------------*/
	
		#single-features-list li {
			background:url(purple/single-features-list-left.gif) no-repeat top left;
		}
		
		#single-features-list li a {
			background:url(purple/single-features-list-right.gif) no-repeat top right;
		}
		
	.commentlist {
		border-bottom:1px solid #dbd7ea;
	}
	
		.commentlist li {
			background:#dfdbed;
			border-top:1px solid #dbd7ea;
			border-bottom:1px solid #ebe8f5;
		}			
		
		.commentlist li.alt {
			background:#e3deee;
		}	
		
	.input {
		border:1px solid #dbd7ea;
	}
	
	#submit {
		background:url(purple/submit.gif) no-repeat top center;
	}
	