body { 	background:#ececeb url(grungelight/background-grunge.gif) no-repeat top center; }
#background { background:url(grungelight/bgr.jpg) repeat-x top center; }
#header { background:url(grungelight/background-grunge-top.gif) no-repeat top center; }
