body { background:#413527 url(grungerust/background-grunge.gif) no-repeat top center; }
#background { background:url(grungerust/bgr.jpg) repeat-x top center; }
#header { background:url(grungerust/background-grunge-top.gif) no-repeat top center; }
#footer { background:#e4e2db url(grungerust/bgr-footer.gif) repeat-x; }