body { background:#e7e9e1 url(grungewhite/background-grunge.gif) no-repeat top center; }
#background { background:url(grungewhite/bgr.jpg) repeat-x top center; }
#header { background:url(grungewhite/background-grunge-top.gif) no-repeat top center; }
#footer { background:#e4e2db url(grungewhite/bgr-footer.gif) repeat-x; }
