/*
-----------------------------------------------
"box" theme styles for ie7 and below
author: dan rubin
edited: 2009-04-22
----------------------------------------------- */

#container {
    top:-48px;
    margin-bottom:-88px;
}
#sidebar .module h2.module-title {
	color:#be696b;
}
#content .module h2.module-title {
	color:#dfa46c;
}
#bookmarks li a {
	background-color:#3a130e;
}
#bookmarks li a:hover {
	background-color:#1e0705;
}
#categories li a {
	background-color:#2e170d;
}
#categories li a:hover {
	background-color:#241108;
}
#content .module blockquote {
	background-color:#a06438;
}