body {
	color: #666666;
	background-color: #454955 !important;
	background: url(citylife/bg.jpg) no-repeat top center;
}

#tile {
	background-image: url(citylife/bg_tile.png);
	background-repeat: repeat;
	float: left;
	width: 100%;
}

a:link, a:visited {
	color:#1E2633;
}

a:hover, a:active, a.active {
	color:#464e5e;
}

#nav li {
	border-right-color: #161a25;
}

#nav .current_page_item a,
#nav li.sfHover,
#nav li.current,
#nav li a:focus, #nav li a:hover, #nav li a:active {
	background-color: #243042;
	color: #FFFFFF;
}
#nav .current_page_item ul li a {
	background-color: #FFFFFF;
	color: #243042;
}

#nav .current_page_item ul li a:hover {
	background-color: #243042;
	color: #FFFFFF;
}

#nav ul  li.back {
	background-color: #243042;
	color: #FFFFFF;
}


.nav_wrapper {
	background-image: url(citylife/nav_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
 	border-radius: 5px;
}

#header {
}

#twitter {
	background-color:#ffffff;
	border-color: #1E2633;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
 	border-radius: 5px;
}

#featured {

}

#featured img {
	background-color:#FFFFFF;
	border:1px solid #D3CFC3;
	margin-bottom:0;
	padding:4px;
}

.featured_text h2 a {
		color:#181818;
}

ul#showcase li a:hover, ul#showcase li a.active {
	border:1px solid #0091D5;
}

.featured_post {
	background-color:#1E2633 !important;
}

.featured_post h2 a {
	color: #ffffff;
}

.featured_post p {
	color: #ffffff;
}

.featured_post p.date {
	color:#cccccc;
}

#about {
	background-image: url(citylife/about_bg.png);
	background-repeat: repeat;
	border: 1px solid #ffffff;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
 	border-radius: 5px;
}

#about p span {
	
}

#about .about_image {
	border:1px solid #1E2633;
	background-color: #ffffff;
}

#about .about_button {
	background-color: #243042;
	color:#FFFFFF;
}

#about a.about_button:hover {
	background-color:#ffffff;
	color:#1E2633;
}

.box, #content .entry, .post_meta {
	background-color:#ffffff;
	border-color: #1E2633;
}

.box {
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
 	border-radius: 5px;
}

.entry, .archives {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.entry .navigation {
	border-top-color: #cccccc;
}

.archives {
	background-color: #eeeeee !important;
	border-color: #cccccc !important;
}

.wp-caption {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
}

/* PageNavi */


.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover {background: #111111 !important;}

.more_entries .wp-pagenavi a,
.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited, 
.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi span.pages { background: #1E2633;color: #fff; }

#comments {
	background-color:#1E2633;
	border-color: #1E2633;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

ol.commentlist li { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

#comments .reply a {
	background-color:#1E2633;
	border-color: #1E2633;
	color: #ffffff;
}

#comments h3 {
	color: #ffffff;
}

ol.commentlist .comment {background-color:#d8dce7; border-color: #1E2633; }	

ol.commentlist li.odd {
	background-color:#e7ecf7;
}

#respond {
	background-color:#c5c9d4;
	border-color: #1E2633;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#commentform #submit {
	background-color:#1f2a3b;
	color:#FFFFFF;
	border:1px solid #1E2633;
}

#respond #author, #respond #email, #respond #url, #respond #comment {
	border: 1px solid #1E2633;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

#footer {
	background-color:#bac1cc;
}

#footerWrap h3, #footerWrap h4 a {
	color:#ffffff;
}

.post_meta {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.widget {
	background-color:#1E2633;
	border:1px solid #1E2633;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
 	border-width: 1px;
 	color: #bbcdef;
}

.widget a:link,.widget a:visited, .widget h2, .widget h3 {
	color: #ffffff;
}

.widget h3 {
	border-bottom-color: #283245;
}

.widget ul li {border-bottom-color: #283245;}

.widget #searchform #s {
	border-color: #283245;
}

#searchform #searchsubmit {
	background-color:#444444;
	border:1px solid #000000;
	color:#FFFFFF;
}

#wp-calendar {
	color:#333333;
}

#wp-calendar caption {
	color: #fff;
}

.credits {
	color:#ffffff;
}

.credits a {
	color:#ffffff;
}

