body {
	color: #444444;
	background-color: #e7e7e7 !important;
	background-image: url(pink_texture/bg.jpg);
	background-repeat: repeat-x;
}

#tile {
	float: left;
	width: 100%;
}

a:link, a:visited {
	color:#222222;
}

a:hover, a:active, a.active {
	color:#292a24;
}

.nav_wrapper {
	background-color: #6f0835;
}

#nav {
}

#nav li {
	border-right-color: #cf15a4;
}

#nav li a {
	color: #ebe8e1;
}

#nav .current_page_item a,
#nav li.sfHover,
#nav li.current,
#nav li a:focus, #nav li a:hover, #nav li a:active {
	background-color: #d061b6;
	background-image: url(pink_texture/nav_active_bg.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	color: #FFFFFF;
}

#nav .current_page_item ul li a {
	background-color: #FFFFFF;
	color: #111111;
	background-image: none;
}

#nav .current_page_item ul li a:hover {
	background-color: #ffffff;
	color: #444444;
}

#nav ul li.back {
	background-color: #444444;
	color: #FFFFFF;
}

#header {
	height:150px
}

#logo {
	margin-top: 38px;
}

#featured {

}

#featured img {
	background-color:#FFFFFF;
	border:1px solid #D3CFC3;
	margin-bottom:0;
	padding:4px;
}

.featured_text h2 a {
		color:#181818;
}

.featured_post {
	background-color:#700836 !important;
	border-color: #590101;
	background-image: none !important;
}

.featured_post h2 a {
	color: #ffffff;
}

.featured_post p {
	color: #ffffff;
}

#about {
	background-color: #cacaca;
	border: 1px solid #b4b4b4;
}

#about p span {
	color: #111111;
}

#about .about_image {
	border:1px solid #cccccc;
	background-color: #ffffff;
}

#about h2 span {
	color: #6f0835;
}

#about .about_button {
	background-color:#6f0835;
	border:1px solid #5f062d;
	color:#FFFFFF;
}

#about a.about_button:hover {
	background-color: #5f062d;
}

.box, #content .entry, .post_meta {
	background-color:#ffffff;
	border-color: #d8d4ca;
	background-image: url(pink_texture/bgr-box.png);
	background-repeat: repeat-x;
	font-size: 12px;
}

.archives {
	background-color:#dddddd;
	border-color: #cccccc;
	background-image: url(pink_texture/bgr-box.png);
	background-repeat: repeat-x;
}

.box {
}

.entry {
}

.entry .navigation {
	border-top-color: #cccccc;
}

.wp-caption {
	background-color:#EEEEEE;
	border:1px solid #DDDDDD;
}

#comments {
	background-color:#ffffff;
	border-color: #cccccc;
}

ol.commentlist li { }

#comments .reply a {
	background-color:#333333;
	border-color: #444444;
	color: #ffffff;
}

#comments h3 {
	color: #333333;
}

ol.commentlist .comment {background-color:#eeeeee; border-color: #cccccc; }	

ol.commentlist li.odd {
	background-color:#dddddd;
}

#respond {
	background-color:#ffffff;
	border-color: #cccccc;
}

#commentform #submit {
	color:#FFFFFF;
	background-color:#6f0835;
	border:1px solid #5c062c;
}

#respond #author, #respond #email, #respond #url, #respond #comment {
	border: 1px solid #cccccc;
}

.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover {background: #a1076f !important;}

.more_entries .wp-pagenavi a,
.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited, 
.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi span.pages { background: #999999;color: #fff; padding: 5px 9px !important; padding:5px; margin-left: 4px; border:0; line-height:24px; }

#footer {
	background-color:#192a50;
}

#footerWrap h3, #footerWrap h4 a {
	color:#ffffff;
}

.post_meta {
}


.widget {
	background-color:#6f0835;
	border:1px solid #5c062c;
	border-style: solid;
 	border-width: 1px;
 	color: #dddddd;
}

.widget a:link,.widget a:visited, .widget h2, .widget h3 {
	color: #ffffff;
}

.widget h3 {
	border-bottom-color: #8e1b4d;
}

.widget ul li {border-bottom-color: #8e1b4d;}

.widget #searchform #s {
	border-color: #8e1b4d;
}

#searchform #searchsubmit {
	background-color:#8e1b4d;
	border:1px solid #8e1b4d;
	color:#FFFFFF;
}

.top-advert {
	margin-top: 48px;
}

#twitter {
	background-color:#6f0835;
	border-color: #63072f;
	margin-top: 42px;
}

#twitter_update_list {
	color:#ffffff;
}

#twitter_update_list a {
	color:#e078c8;
}

#wp-calendar {
	color:#333333;
}

#wp-calendar caption {
	color: #fff;
}

.credits {
	color:#cccccc;
}

.credits a {
	color:#222222;
}

