/* Style: Default */

#top-meta, #top-meta .date, #top-meta .search, #top-meta .rss, #top-meta .contact-link, #header, #top-nav, #featured_photo img, .category-image-block img, #featured_photo, #featured_photo div, #featured_post, #tabs, p.post-details, .inside ul, .category-box, #also-header, #sidebar .widget, #bottom, #bottom .widget h3, .featured_article,#bottom #col_two li, #footer #page-nav li, #comments #comments_wrap h2, #comments .commentlist, #comments .comment, #comments ul.children {
	border-color: #cccccc;
}

.hr {
	background-color:#cccccc;
}

#top {
	border-color: #cb5303;
}

#highlights {
	border-color: #cccccc;
	background-color:#cb7403;
	color:#ffffff;
}

#highlights h3 {
	color: #ffffff;
}

#highlights .more a {
	color:#ffffff;
}

#highlights .post .content {
	border-color:#cb5303;
}

#highlights .post .content a {
	color:#ffffff;
}

#highlights .post .content .read_more a {
	color:#cb5303;
	background-color:#ffffff;
}

#highlights .post .image img {
	border-color:#cb5303;
}
 #header .recent-entries ul, #header .recent-entries li {
    border-color: #cccccc;
    background-repeat: no-repeat;
}

#header .recent-entries .archives a {
    color:#cb5303;
}

#header .recent-entries h4 a {
    color:#cb5303;
}

#header .recent-entries a:hover {
    color:#656d6e;
}


#recent-entries .recent-entries .archives a {
	color:#cb5303;
}

#recent-entries .recent-entries h4 a {
	color:#cb5303;
}

#recent-entries .recent-entries a:hover {
	color:#656d6e;
}

#top-nav .current_page_item, #top-nav a:hover {
	background-color:#cb5303;
	color:#ffffff;
}

#top-nav .current_page_item a, #top-nav a:hover {
	color:#ffffff;
}

ul.idTabs li a.selected, ul.idTabs li a:hover {
	background: #cb5303;
	color:#ffffff !important;
}

.inside ul {
	background-color:#cb5303;
}

.inside li {
	border-bottom-color:#cb7403;
}

#categories-module p a {
	color:#cccccc;
}

#categories-slider .panel h3 a {
	color:#cccccc;
}

#bottom .featured_article .more_featured a {
	color:#cccccc;
}

#main p.tags {
	background-color:#eeeeee;
}

#sidebar .widget {
	background-color:#eeeeee;
}

#sidebar .widget h3 {
	background-color:#cb5303;
	color:#ffffff;
}

#wp-calendar caption {
	background-color:#cb5303;
	color:#FFFFFF;
}

#commentform #submit {
	background-color:#cb5303;
	color:#FFFFFF;
	border-color:#cb5303;
}

#comments .reply a {
	background-color:#cb5303;
	color:#FFFFFF;
}

#footer .credits p {
	color:#cccccc;
}

.category { color:#ccc}

#footer {
	background: #cb5303;
}

